.back-button {
  text-decoration: none;
  background-color: rgb(8, 13, 82);
  color: white;
  font-size: 16px;
  width: 90px;
  padding: 12px 32px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
}

.back-button:hover {
  background-color: hsl(240, 30%, 50%);
}

@media (max-width: 860px) {
  .back-button {
    margin-top: 24px;
  }
}

@media (max-width: 500px) {
  .back-button {
    font-size: 14px;
    width: 70px;
  }
}

@media (max-width: 400px) {
  .back-button {
    font-size: 16px;
    width: 90px;
  }
}
