<div class="report-list">
  <div class="report">
    <div class="report-header">
      <p class="report-name">User: <span>Doug</span></p>
      <p class="report-date">Date: <span>02/18/2022</span></p>
      <p class="report-vibe">Vibe: <span>3</span></p>
    </div>
    <p class="report-label">Trip Report:</p>
    <p class="report-description">
      Slope conditions were pretty good overall. Got there for first tracks and
      the corduroy was great. It got very busy around lunch time, I guess the
      holiday crowds are showing up early. Was pretty tracked out by 11am. Left
      around noon because it was a 15+ minute wait for the lifts.
    </p>
  </div>
  <div class="report">
    <div class="report-header">
      <p class="report-name">User: <span>skibro</span></p>
      <p class="report-date">Date: <span>02/16/2022</span></p>
      <p class="report-vibe">Vibe: <span>7</span></p>
    </div>
    <p class="report-label">Trip Report:</p>
    <p class="report-description">
      It was pretty icy all day but there was no one here! I got like 20 runs in
      by lunch. No lines for beers either!
    </p>
  </div>
  <div class="report">
    <div class="report-header">
      <p class="report-name">User: <span>John P</span></p>
      <p class="report-date">Date: <span>02/15/2022</span></p>
      <p class="report-vibe">Vibe: <span>5</span></p>
    </div>
    <p class="report-label">Trip Report:</p>
    <p class="report-description">Icy but fun night skiing.</p>
  </div>
  <div class="report">
    <div class="report-header">
      <p class="report-name">User: <span>Shredder Girl</span></p>
      <p class="report-date">Date: <span>02/14/2022</span></p>
      <p class="report-vibe">Vibe: <span>10</span></p>
    </div>
    <p class="report-label">Trip Report:</p>
    <p class="report-description">
      BF and I came here for Valentine's Day! We got the first tracks on
      Snowbird and were pretty much by ourselves until 10. We chilled and had
      lunch and some drinks at the bar until it started to die down again at 3.
      Then we ripped it up all night! Got a little icy towards the end but the
      night vibes were super chill. Everyone was just out there to have a good
      time! We will defintely be back.
    </p>
  </div>
</div>
