h3 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
}

.new-report-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  display: inline;
  width: 100%;
}

.report-header-inputs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0 12px;
}

#name,
#date {
  padding: 8px;
}

#vibe {
  width: 200px;
}

.description-input {
  width: 80%;
}

textarea {
  resize: vertical;
  overflow-y: auto;
  width: 100%;
  min-height: 70px;
  padding: 8px;
}

textarea,
input {
  box-sizing: border-box;
}

[type="submit"] {
  background-color: hsl(240, 30%, 70%);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  cursor: pointer;
  width: 25%;
  margin-top: 12px;
}

[type="submit"]:hover {
  background-color: hsl(240, 30%, 50%);
}
