@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "Road_Rage";
  src: url(../assets/Road_Rage.otf);
}

header {
  font-family: "Road_Rage";
  font-size: 80px;
  text-align: center;
  color: rgb(8, 13, 82);
}

h1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

main {
  padding-top: 16px;
  min-width: 45%;
  max-width: 52%;
  width: max-content;
  background: white;
  border-radius: 24px;
  box-shadow: 0 0 12px -8px rgb(8, 13, 82);
  padding-bottom: 36px;
  color: rgb(8, 13, 82);
  margin: 24px auto;
}

@media (max-width: 1200px) {
  main {
    min-width: 65%;
  }
}

@media (max-width: 925px) {
  header {
    font-size: 64px;
  }

  main {
    min-width: 75%;
  }
}

@media (max-width: 600px) {
  header {
    font-size: 50px;
  }

  main {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  header {
    font-size: 36px;
  }
}
