@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "Road_Rage";
  src: url(../assets/Road_Rage.otf);
}

header {
  font-family: "Road_Rage";
  font-size: 80px;
  text-align: center;
  color: rgb(8, 13, 82);
}

h1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

main {
  margin-top: 24px;
  padding-top: 16px;
  min-width: 45%;
  max-width: 65%;
  width: max-content;
  background: white;
  border-radius: 100px;
  border: solid 4px rgb(8, 13, 82);
  margin-left: auto;
  margin-right: auto;
  color: rgb(8, 13, 82);
}
