<h2>{{ name }}</h2>
<div class="mountain-info">
  <app-trail-map [name]="name"></app-trail-map>
  <app-mountain-stats
    [location]="location"
    [elevation]="elevation"
    [vertical]="vertical"
    [acres]="acres"
    [trails]="trails"
    [lifts]="lifts"
  ></app-mountain-stats>
  <app-resort-links
    [snowReportUrl]="snowReportUrl"
    [webcamsUrl]="webcamsUrl"
    [weatherUrl]="weatherUrl"
    [liftTicketsUrl]="liftTicketsUrl"
    [rentalsUrl]="rentalsUrl"
  ></app-resort-links>
  <app-back-button></app-back-button>
</div>
<div class="reports">
  <h3>Trip Reports</h3>
  <form class="new-report-form">
    <div class="report-header-inputs">
      <div class="name-input">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" maxlength="15" required />
      </div>

      <div class="date-input">
        <label for="date">Date</label>
        <input type="date" name="date" id="date" required />
      </div>

      <div class="vibe-input">
        <label for="vibe">Vibe</label>
        <input
          type="range"
          name="vibe"
          id="vibe"
          min="0"
          max="10"
          step="1"
          value="5"
        />
      </div>
    </div>

    <div class="report-input">
      <label for="report">Report</label>
      <textarea type="text" name="report" id="report" required></textarea>
    </div>

    <input type="submit" value="Submit Report" />
  </form>
  <app-report-list></app-report-list>
</div>
