<h2>Cataloochee Ski Area</h2>
<div class="mountain-info">
  <app-trail-map></app-trail-map>
  <app-mountain-stats></app-mountain-stats>
  <div class="mountain-links">
    <a target="_blank" href="https://cataloochee.com/the-mountain/snow-report/"
      >Snow Report</a
    >
    <a target="_blank" href="https://cataloochee.com/the-mountain/webcams/"
      >Webcams</a
    >
    <a target="_blank" href="https://cataloochee.com/the-mountain/weather/"
      >Weather</a
    >
    <a
      target="_blank"
      href="https://cataloochee.com/tickets-passes/lift-tickets/"
      >Lift Tickets</a
    >
    <a target="_blank" href="https://cataloochee.com/planning/rentals/"
      >Rentals</a
    >
  </div>
  <a class="back-button" routerLink="">Go Back</a>
</div>
