.mountain-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}

app-trail-map {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}

app-mountain-stats {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.mountain-links {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin-top: 36px;
}

.mountain-links a {
  text-decoration: none;
  background-color: hsl(240, 30%, 70%);
  color: white;
  font-size: 20px;
  width: 120px;
  padding: 12px 32px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mountain-links a:hover {
  background-color: hsl(240, 30%, 50%);
}

a + a {
  margin-top: 12px;
}

.back-button {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  text-decoration: none;
  background-color: rgb(8, 13, 82);
  color: white;
  font-size: 16px;
  width: 90px;
  padding: 12px 32px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.back-button:hover {
  background-color: hsl(240, 30%, 50%);
}

@media (max-width: 860px) {
  .mountain-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  app-trail-map {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-left: auto;
    margin-right: auto;
  }

  app-mountain-stats {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .mountain-links {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
  }

  .mountain-links a {
    margin: 8px 8px;
  }

  .back-button {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    margin-top: 24px;
  }
}

@media (max-width: 600px) {
  app-trail-map {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .mountain-links a {
    font-size: 16px;
    width: 90px;
  }

  .back-button {
    font-size: 14px;
    width: 70px;
  }
}

@media (max-width: 400px) {
  .mountain-links a {
    font-size: 20px;
    width: 120px;
  }

  .back-button {
    font-size: 16px;
    width: 90px;
  }
}
