.mountain-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}

app-trail-map {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}

app-mountain-stats {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

app-resort-links {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin-top: 36px;
}

app-back-button {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

@media (max-width: 860px) {
  .mountain-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  app-trail-map {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-left: auto;
    margin-right: auto;
  }

  app-mountain-stats {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  app-resort-links {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  app-back-button {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
}

@media (max-width: 600px) {
  app-trail-map {
    width: 90%;
  }
}
