.mountain-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}

app-trail-map {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}

app-mountain-stats {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

app-resort-links {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin-top: 36px;
}

app-back-button {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
}

.new-report-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  display: inline;
  width: 100%;
}

.report-header-inputs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0 12px;
}

#name,
#date {
  padding: 8px;
}

#vibe {
  width: 200px;
}

.report-input {
  width: 80%;
}

textarea {
  resize: vertical;
  overflow-y: auto;
  width: 100%;
  min-height: 70px;
  padding: 8px;
}

textarea,
input {
  box-sizing: border-box;
}

[type="submit"] {
  background-color: hsl(240, 30%, 70%);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  cursor: pointer;
  width: 25%;
  margin-top: 12px;
}

[type="submit"]:hover {
  background-color: hsl(240, 30%, 50%);
}

.report-list {
  width: 80%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.report {
  background-color: hsl(240, 12%, 95%);
  margin: 24px 0;
  padding: 12px 24px;
  border-radius: 16px;
}

.report-header {
  margin-bottom: 12px;
}

.report-header > * {
  display: inline-block;
}

.report-header > p {
  color: hsl(236, 82%, 75%);
  font-size: 14px;
}

.report-header > p > span {
  color: rgb(8, 13, 82);
  font-size: 16px;
  margin-left: 8px;
}

.report-name {
  width: 220px;
}

.report-date {
  width: 180px;
}

.report-label {
  margin-bottom: 4px;
  font-size: 14px;
  color: hsl(236, 82%, 75%);
}

.report-description {
  line-height: 1.2;
}

@media (max-width: 860px) {
  .mountain-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  app-trail-map {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-left: auto;
    margin-right: auto;
  }

  app-mountain-stats {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  app-resort-links {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  app-back-button {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
}

@media (max-width: 600px) {
  app-trail-map {
    width: 90%;
  }
}
