.mountain-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
}

app-trail-map {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}

app-mountain-stats {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

app-resort-links {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin-top: 36px;
}

app-back-button {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.new-report-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  display: inline;
  width: 100%;
}

.small-inputs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0 12px;
}

#name,
#date {
  padding: 8px;
}

#vibe {
  width: 200px;
}

.report-input {
  width: 80%;
}

textarea {
  resize: vertical;
  overflow-y: auto;
  width: 100%;
  min-height: 70px;
  padding: 8px;
}

[type="submit"] {
  background-color: hsl(240, 30%, 70%);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  cursor: pointer;
  width: 25%;
  margin-top: 12px;
}

[type="submit"]:hover {
  background-color: hsl(240, 30%, 50%);
}

@media (max-width: 860px) {
  .mountain-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  app-trail-map {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-left: auto;
    margin-right: auto;
  }

  app-mountain-stats {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  app-resort-links {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  app-back-button {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
}

@media (max-width: 600px) {
  app-trail-map {
    width: 90%;
  }
}
