<h2>{{ name }}</h2>
<div class="mountain-info">
  <app-trail-map [name]="name"></app-trail-map>
  <app-mountain-stats
    [location]="location"
    [elevation]="elevation"
    [vertical]="vertical"
    [acres]="acres"
    [trails]="trails"
    [lifts]="lifts"
  ></app-mountain-stats>
  <app-resort-links
    [snowReportUrl]="snowReportUrl"
    [webcamsUrl]="webcamsUrl"
    [weatherUrl]="weatherUrl"
    [liftTicketsUrl]="liftTicketsUrl"
    [rentalsUrl]="rentalsUrl"
  ></app-resort-links>
  <app-back-button></app-back-button>
</div>
