.resort-listing {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto auto 1fr;
  width: 400px;
  margin: 12px auto 48px;
}

.resort-logo {
  width: 100px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

.resort-name {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 24px;
  margin-bottom: 8px;
  margin-left: 32px;
}

.resort-location {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin-bottom: 12px;
  margin-left: 32px;
}

.view-resort {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  text-decoration: none;
  background-color: hsl(240, 30%, 70%);
  color: white;
  font-size: 20px;
  width: fit-content;
  padding: 12px 32px;
  margin-bottom: auto;
  border-radius: 8px;
  margin-left: 56px;
}

.view-resort:hover {
  background-color: hsl(240, 30%, 50%);
}

@media (max-width: 1000px) {
  .resort-listing {
    margin-bottom: 24px;
  }
}

@media (max-width: 800px) {
  .resort-listing {
    width: 300px;
    grid-template-columns: auto 1fr;
  }

  .resort-logo {
    width: 80px;
  }

  .resort-name {
    font-size: 20px;
    margin-bottom: 6px;
    margin-left: 12px;
  }

  .resort-location {
    margin-bottom: 8px;
    margin-left: 12px;
    font-size: 14px;
  }

  .view-resort {
    font-size: 16px;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 8px;
    margin-left: 24px;
  }
}

@media (max-width: 600px) {
  .resort-listing {
    width: 240px;
  }

  .resort-logo {
    width: 60px;
  }

  .resort-name {
    font-size: 16px;
    margin-bottom: 4px;
    margin-left: 12px;
  }

  .resort-location {
    margin-bottom: 6px;
    margin-left: 12px;
    font-size: 12px;
  }

  .view-resort {
    font-size: 14px;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 6px;
    margin-left: 24px;
  }
}
