@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  background-image: url(assets/background.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 40% 40%;
}
